/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }
  h1,h3{
  text-color:blue;
  }


  .img-fluid {
     max-width: 100%;
      height:auto;
   }
.nav{
    justify-content: center;
}
.carousel-caption{
  position : absolute;
  top : 25%;
  left : 285px !important;
  bottom: 35%;
  background: rgba(0,0,0,0.5);
  padding : 10px;
  border-radius : 10px;
}
.inner-caption{
text-content:center;
}

.form-heading {
    text-align: center;
    text-transform: uppercase;
}
.form-signin {
    max-width: 360px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 3;
}
.form-signin input, .form-signin button {
    margin-top: 10px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.has-error {
    color: #ff0000;
    line-height: 1;
    font-size: 14px;
}
.center_div{
    margin: 0 auto;
    width:80%
}
