/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }
  h1,h3{
  text-color:blue;
  }


  .img-fluid {
     max-width: 100%;
      height:auto;
   }
.nav{
    justify-content: center;
}
.carousel-caption{
  position : absolute;
  top : 25%;
  left : 285px !important;
  bottom: 35%;
  background: rgba(0,0,0,0.5);
  padding : 10px;
  border-radius : 10px;
}
.inner-caption{
text-content:center;
}